#version=DEVEL
# System authorization information
auth --enableshadow --passalgo=sha512
# Use graphical install
graphical
# Run the Setup Agent on first boot
firstboot --enable
ignoredisk --only-use={{INIT_DISK}}
# Keyboard layouts
keyboard --vckeymap=us --xlayouts='us'
# System language
lang en_US.UTF-8

# Network information
network  --hostname={{INIT_HOSTNAME}} --bootproto=dhcp --device=link --ipv6=auto --activate --onboot=yes

# Use network installation
url --mirrorlist=http://mirrors.fedoraproject.org/mirrorlist?repo=fedora-$releasever&arch=$basearch

# Root password
{{#INIT_CRYPTED_ROOTPW}}
rootpw --iscrypted {{INIT_CRYPTED_ROOTPW}}
{{/INIT_CRYPTED_ROOTPW}}
{{#INIT_ROOTPW}}
rootpw "{{INIT_ROOTPW}}"
{{/INIT_ROOTPW}}

# Do not configure the X Window System
skipx

# System services
services --enabled="chronyd"

# System timezone
timezone Europe/Berlin --isUtc

# Group creation
group --name=ssh

# User creation
user --groups=wheel,ssh --name={{INIT_USER}} --gecos="{{INIT_USER_FULLNAME}}" {{#INIT_CRYPTED_USERPW}}--password={{INIT_CRYPTED_USERPW}} --iscrypted{{/INIT_CRYPTED_USERPW}} {{#INIT_USERPW}}--password={{INIT_USERPW}}{{/INIT_USERPW}}

# System bootloader configuration
bootloader --append=" crashkernel=auto" --location=mbr --boot-drive={{INIT_DISK}}

# Partition clearing information
clearpart --drives={{INIT_DISK}} --all --initlabel

# Partition configuration
#autopart --type=btrfs --nohome # For btrfs
autopart --type=plain --fstype=ext4 --nohome # For ext4

%packages --ignoremissing
@^minimal-environment
@core
kexec-tools
chrony

%end

%addon com_redhat_kdump --enable --reserve-mb='128'

%end

%anaconda
pwpolicy root --minlen=6 --minquality=50 --notstrict --nochanges --notempty
pwpolicy user --minlen=6 --minquality=50 --notstrict --nochanges --notempty
pwpolicy luks --minlen=6 --minquality=50 --notstrict --nochanges --notempty
%end

%post

#!/bin/bash

mkdir -p {{INIT_USER_HOME}}/.ssh

echo "
HostKey /etc/ssh/ssh_host_rsa_key
HostKey /etc/ssh/ssh_host_ecdsa_key
HostKey /etc/ssh/ssh_host_ed25519_key
SyslogFacility AUTHPRIV
AllowGroups ssh 
PermitRootLogin no
AuthorizedKeysFile      .ssh/authorized_keys
PasswordAuthentication yes
ChallengeResponseAuthentication no
GSSAPIAuthentication yes
GSSAPICleanupCredentials no
UsePAM yes
X11Forwarding yes
AcceptEnv LANG LC_CTYPE LC_NUMERIC LC_TIME LC_COLLATE LC_MONETARY LC_MESSAGES
AcceptEnv LC_PAPER LC_NAME LC_ADDRESS LC_TELEPHONE LC_MEASUREMENT
AcceptEnv LC_IDENTIFICATION LC_ALL LANGUAGE
AcceptEnv XMODIFIERS
Subsystem       sftp    /usr/libexec/openssh/sftp-server
" > /etc/ssh/sshd_config

systemctl enable sshd
systemctl start sshd

{{#INIT_AUTHORIZED_KEYS}}
echo "{{.}}" >> {{INIT_USER_HOME}}/.ssh/authorized_keys
{{/INIT_AUTHORIZED_KEYS}}

chown -R {{INIT_USER}}:{{INIT_USER}} {{INIT_USER_HOME}}
if [ -e {{INIT_USER_HOME}}/.ssh/authorized_keys ]; then
  chmod 600 {{INIT_USER_HOME}}/.ssh/authorized_keys;
fi

%end

poweroff
